<?xml version="1.0"?>
<!--
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Swatch
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
 -->
<config>
    <tabs>
        <swatch translate="label" module="swatch">
            <label>Lana</label>
            <sort_order>220</sort_order>
        </swatch>
    </tabs>
    <sections>
        <swatch translate="label" module="swatch">
            <label>Swatch Settings</label>
            <tab>swatch</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>0</sort_order>
            <groups>
                <swatch translate="label">
                    <label>Swatch Settings</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                         <swatch_baseimage_width translate="label">
                            <label>base image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </swatch_baseimage_width>
                        <swatch_baseimage_height translate="label">
                            <label>base image heigh</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </swatch_baseimage_height>
                    </fields>
                </swatch>
            </groups>
        </swatch>
    </sections>
</config>